In [46]:

dict_1= {'nikita': 1, 'manisha': 5,
            'radhika': 10, 'akshata': 15}
 
print("initial 1st dictionary", dict_1)
 

dict_1['rupali'] = dict_1['akshata']
del dict_1['akshata']
 
 

print("final dictionary", str(dict_1))

initial 1st dictionary {'nikita': 1, 'manisha': 5, 'radhika': 10, 'akshata': 15}
final dictionary {'nikita': 1, 'manisha': 5, 'radhika': 10, 'rupali': 15}

In [49]:

num = dict (x = 10, y = 15)

print ('numbers = ', num)

print (type (num))

empty = dict ()

print ("empty =", empty)

print (type (empty))

numbers =  {'x': 10, 'y': 15}
<class 'dict'>
empty = {}
<class 'dict'>

In [52]:
dict([(1, 2), (3, 4) , (5,6)])

{1: 2, 3: 4, 5: 6}

In [5]:
data = {("chapathi", "roti"): 'Bobby',  
        ("Paraota", "Idly", "Dosa"): 'ojaswi'} 
data

{('chapathi', 'roti'): 'Bobby', ('Paraota', 'Idly', 'Dosa'): 'ojaswi'}

In [4]:
data = {("x","y","z"): ""}
data

{('x', 'y', 'z'): ''}

In [1]:
x = "welcome"
y = x[ : :-1]
print(y)

emoclew