# Lambda function

* __A lambda function is a small anonymous function.__
* __It can take any number of arguments but can only have one expression.__
* __The expression is evaluated and returned.__
* __Lambda function anywhere where function objects are required.__
* __It is essentially a block of code that can be assigned to a variable, passed as an argument, or returned from a function call, in languages that support high order functions.__
* __Its main role it is defined in the scenarios when we employ that anonymously inside other functions.__
* __In python it can be used as an argument to the high order functions as argument.__

## Lambda functions in Python

* __1.Syntax__
  * __Normal functions__
  * __Anonymous functions__
* __2.Uses__
  * __filter(), map(), reduce(), sorted(), apply()__
* __3Common errors__
   * __SyntaxError__
   * __TypeError__

In [4]:
#take input from user and some calculations: addition,subraction,multiplication,division,exponent

x = int(input("enter first num:"))
y = int(input("enter second num:"))
list = []
(lambda x,y:list.append(x+y))(x,y)
(lambda x,y:list.append(x-y))(x,y)
(lambda x,y:list.append(x*y))(x,y)
(lambda x,y:list.append(x/y))(x,y)
(lambda x,y:list.append(x**y))(x,y)
                             
print(list)

enter first num: 3
enter second num: 4

[7, -1, 12, 0.75, 81]

In [5]:
#using lamda area and perimeter of a rectangle

length = int(input("Enter length:"))
width = int(input("Enter width:"))

area = (lambda length,width:length*width)(length,width)
perimeter = (lambda length,width:2*(length+width))(length,width)
print("Area of rectangle is : ",area)
print("Perimeter of rectangle is : ",perimeter)

enter length: 34
enter width: 23

Area of rectangle is :  782
Perimeter of rectangle is :  114

In [7]:
# Using Lamda area circle
import math

radius = int(input("Enter radius:"))
area = (lambda radius:2*math.pi*radius*radius)(radius)
print("Area of circle is : ",area)

Enter radius: 3

Area of circle is :  56.548667764616276

In [8]:
#using lamda area and perimeter of the square

side = int(input("Enter side:"))

area = (lambda side:side*side)(side)
perimeter = (lambda side:4*side)(side)

print("Area of square is : ",area)
print("Perimeter of square is : ",perimeter)

Enter side: 45

Area of square is :  2025
Perimeter of square is :  180

In [1]:
# Using Lamda area circle
import math

radius = int(input("Enter radius:"))
area = (lambda radius:2*math.pi*radius*radius)(radius)
print("Area of circle is : ",area)

Enter radius: 3

Area of circle is :  56.548667764616276

In [9]:
#WAP lambda : to display table : 


def multitable(x):
    return lambda x:x*n

n = int(input("Enter table number : "))
y = multitable(n)

for i in range(1,11):
    print('%dx%d=%d'%(n,i,y(i)))

Enter table number :  56

56x1=56
56x2=112
56x3=168
56x4=224
56x5=280
56x6=336
56x7=392
56x8=448
56x9=504
56x10=560

In [5]:
n = int(input("Enter table number : "))

for i in range(1,11):
    print(n,'X',i,'=',i*n)

Enter table number :  23

23 X 1 = 23
23 X 2 = 46
23 X 3 = 69
23 X 4 = 92
23 X 5 = 115
23 X 6 = 138
23 X 7 = 161
23 X 8 = 184
23 X 9 = 207
23 X 10 = 230

In [6]:
#TAble while loop:

i = 1
n = int(input("Enter table number : "))
while i<=10:
    print(n,"X",i,"=",i*n)
    i=i+1

Enter table number :  34

34 X 1 = 34
34 X 2 = 68
34 X 3 = 102
34 X 4 = 136
34 X 5 = 170
34 X 6 = 204
34 X 7 = 238
34 X 8 = 272
34 X 9 = 306
34 X 10 = 340

## Filter Function

In [18]:

num = [12,23,45,66,76,88,90,75,33,21]
#To filter list tuple or anything with lambda

list(filter(lambda x:(x%2==0),num))  #filtering even numbers from list output in list

[12, 66, 76, 88, 90]

In [19]:

num = [12,23,45,66,76,88,90,75,33,21]
#To filter list tuple or anything with lambda

tuple(filter(lambda x:(x%2==0),num))  #filtering even numbers from list output in tuple

(12, 66, 76, 88, 90)

In [20]:

num = [12,23,45,66,76,88,90,75,33,21,21,21]
#To filter list tuple or anything with lambda

set(filter(lambda x:(x%2==0),num))  #filtering even numbers from list output in set

{12, 66, 76, 88, 90}

## MAp function :

In [22]:
num = [12,23,45,66,76,88,90,75,33,21,21,21]
print(f'Multiplied by 5 :{list(map(lambda x:x*5,num))}')

Multiplied by 5 :[60, 115, 225, 330, 380, 440, 450, 375, 165, 105, 105, 105]

In [32]:
# Program: Create a multiplication table for any number in Python

# user-input
num = [int(input("Enter a number: "))]

# let's create our lambda function for the table
table = list(map(lambda x, y: x * y, list(range(1, 11)), num * 10))

print(table)

Enter a number:  45

[45, 90, 135, 180, 225, 270, 315, 360, 405, 450]

In [41]:
#square

list = []
n = int(input("Enter number to square : "))
list.append(n)

for i in list:
    print(i**2)

Eneter nuber to square :  34

1156

In [65]:
#Python program to demonstrate working of map : 

def addition(n):
    return n+n

numbers = [1,2,3,4,5,6]
result = list(map(addition,numbers))
print(result)

[2, 4, 6, 8, 10, 12]

In [1]:
#To use another function in lambda

def isCaps(s):
    return 'A' <= s[0] <='Z'   #First letter capital ccheck

x = isCaps('Cat')   #Returns True or False Value
x

True

In [10]:
#USing above function in Lambda


list(filter(isCaps,['rupali','Mohini','kiran','Radha']))

['Mohini', 'Radha']

In [66]:

def mult():
    list1 = [2,3,4,5,6,]
    new = []
    z = int(input("Enter "))
    for i in list1:
        y = i*z
        new.append(y)
    print(new)

mult()

Enter  4

[8, 12, 16, 20, 24]

In [25]:
def mult6():
    emp_list = []
    new_list = []
    z = int(input("Enter "))
    for i in range(z):
        y = int(input())
        emp_list.append(y)
    for a in emp_list:
        w=a*6
        new_list.append(w)
    print(emp_list,new_list)
        

mult6( )

Enter  2
 30
 30

[30, 30] [180, 180]

In [69]:
new_list1 = list(map(mult6,range(1,10)))
print(new_list1)

[6, 12, 18, 24, 30, 36, 42, 48, 54]

In [31]:
def mult6(x):
    new_list=[]
    for a in x:
        w=a*6
        new_list.append(w)
    print(new_list)
        

mult6([3,4])

[18, 24]

In [32]:
list(filter(mult6,[10,20,30]))

TypeError: 'int' object is not iterable

In [38]:
#Find the square of the number from user input using lambda and function

def square_num():
    user = int(input("Enter a number to square"))
    return user**2

square_num()

Enter a number to square 5

25

In [50]:


def square(x):
    x = int(input("Enter your range"))
    sqr_list = []
    
    for i in range(1,x+1):
        y = i**2
        sqr_list.append(y)
    print(sqr_list)

square(x)

Enter your range 4

[1, 4, 9, 16]

In [55]:
def square1(x):
    return x **2 

a2 = int(input("Enter range"))
a1 = list(map(square1,range(1,a2+1)))
a1

Enter range 4

[1, 4, 9, 16]

In [58]:
 l = [1,2,3,4,5]

def cube(x):
    return x*x*x

list(map(cube,l))

[1, 8, 27, 64, 125]

In [59]:
list(filter(lambda x:x>2,l))

[3, 4, 5]

In [63]:
from functools import reduce

new = reduce(lambda x,y:x+y,l)
print(new)

15

In [64]:

new_list = list(map(lambda x:x*6,range(1,6)))
print(new_list)

[6, 12, 18, 24, 30]

# map() Function :- 
* __Higher order function.(Takes a function as an argument).__
* __Applies a function to each element in the sequence and returns new transformed sequence.__
* __Syntax : (function, iterable).__

In [76]:
#Input and split() together

m1,m2,m3 = input().split()

print(type(m1))
print(type(m2))
print(type(m3))

 12 34 56

<class 'str'>
<class 'str'>
<class 'str'>

In [77]:
#Data typecasting using map()

m1,m2,m3 = list(map(int,input().split()))

print(type(m1))
print(type(m2))
print(type(m3))

 12 34 56

<class 'int'>
<class 'int'>
<class 'int'>

In [83]:
#How the map function works 

a = [12,23,34,45,66,77,88,8886]

def even_check(x):
    return x%2==0


filter_check = list(filter(even_check,a))
print("Filter check : ",filter_check)


def square(a):
    return a**2

x = list(map(square,filter_check))
print("Map check : ",x)  #map applies to every element of sequence

Filter check :  [12, 34, 66, 88, 8886]
Map check :  [144, 1156, 4356, 7744, 78960996]

In [86]:
def add(a, b,c):
    return a + b + c

numbers1 = [1, 2, 3, 4]
numbers2 = [5, 6, 7, 8]
num = [3, 6, 8, 9]
sums = map(add, numbers1, numbers2, num)
print(list(sums))

[9, 14, 18, 21]

In [102]:
import operator

print(operator.add(4,3))
print(operator.sub(7,3))
print(operator.mul(3,4))
print(operator.truediv(3,4))
print(operator.floordiv(3,4))
print(operator.mod(5,6))
print(operator.pow(2,3))
print(operator.lt(2,3)) # to check if a is less than b or not.
print(operator.lt(3,2))
print(operator.le(7,8)) #if a is less than or equal to b or not.
print(operator.eq(23,23)) # if a is equal to b or not.
print(operator.gt(21,23)) #if a is greater than b or not. 
print(operator.ge(5,4)) #if a is greater than or equal to b or not.
print(operator.ne(12,23)) #if a is not equal to b or is equal.

7
4
12
0.75
0
5
8
True
False
True
True
False
True
True

In [109]:
a1 = [0,1,2,3,4,5,6,7,8,9,10]

def mult_3(x):
    return x*3

d = list(map(mult_3,a1))
print("Multiplied by 3 : ",d)

def square(a):
    return a**2

e = list(map(square,d))
print("Squared list : ",e)

Multiplied by 3 :  [0, 3, 6, 9, 12, 15, 18, 21, 24, 27, 30]
Squared list :  [0, 9, 36, 81, 144, 225, 324, 441, 576, 729, 900]

# reduce()

* __Required: from functools import reduce.__


#from functools import reduce
#import operator

In [121]:
l1 = [2,4,6,8,10,12,14,16,18,20]

reduce_add = reduce(operator.add,l1)
print(reduce_add)
print("\n")

reduce_sub = reduce(operator.sub,l1)
print(reduce_sub)
print("\n")

reduce_mul = reduce(operator.mul,l1)
print(reduce_mul)
print("\n")

# same as above(multiplication):
# reduce_new = reduce(lambda x,y:x*y,l1)
# print(reduce_new)

reduce_truediv = reduce(operator.truediv,l1)
print(reduce_truediv)
print("\n")

reduce_new = reduce(lambda x,y:x+y,range(1,31))
print(reduce_new)

110


-106


3715891200


1.076457782186949e-09


465

In [129]:
def add(a,b):
    return a+b

reduce(add,['Rupali','Gurav'])   #Can also concatenate list

'RupaliGurav'

In [135]:
def multi(x,y):
 return x*y

def mysrtre(n):
    return reduce(multi,range(1,n+1))

print(mysrtre(4))

24

In [136]:
reduce(operator.mul,range(1,5))

24

# sorted()
* __sorted function returns sorted list of specified iterable object.__
* __Strings are sorted alphabetically numbers numerically.__
* __You cannot sort a list that contains BOTH string values AND numeric values.__
* __Syntax : sorted(iterable,key=key,reverse=reverse)__
* __[ iterable	Required. The sequence to sort, list, dictionary, tuple etc.__
* __key	Optional. A Function to execute to decide the order. Default is None__* __
reverse	Optional. A Boolean. False will sort ascending, True will sort descending. Default is Fals__]e
* 
*

In [3]:
dict = {'a':'a','b':'b'}
z = sorted(dict,reverse=True)
print(z)

['b', 'a']

In [16]:
list1 = [
    ("Isha Deol",'B',90),("Meera Naik",'C',91),("Krihsna Murthy",'D',78)
]

# sorted_x = sorted(list1)
# sorted_x

sorted(list1,key=lambda list1:list1[2])

[('Krihsna Murthy', 'D', 78), ('Isha Deol', 'B', 90), ('Meera Naik', 'C', 91)]

In [13]:
c = [(7),(8),(23)]
print(type(c))

<class 'list'>

In [33]:
class person: 
    def __init__(self, name,age, grade, gender): 
        self.name = name
        self.age = gender
        self.grade = grade
        self.gender = gender
  
    def __repr__(self):
        return repr((self.name,self.age,self.grade,self.gender))
  
  
# # list of objects 
gfg = [person("Sakshi", 6,'b','f'), 
       person("Meera", 9,'c','m'), 
       person("Gita", 5,'d','f'), 
       person("Rupali", 4,'a','m'), 
       person("Meena", 3,'b','f')] 
  
# # sorting objects on the basis of value  
# # stored at variable b 
a = sorted(gfg, key=lambda x:x.name)

In [32]:
# one value is age of student 
# second value is student name 
data = ((24, "bobby"), (21, "ojsawi")) 
  
# convert into dictionary 
final = dict((value, key) for key,value in data) 
  
# display 
print(final)

TypeError: 'dict' object is not callable

In [39]:
class person: 
    def __init__(self, name,age, grade, gender): 
        self.name = name
        self.age = age
        self.grade = grade
        self.gender = gender
  
    def __repr__(self):
        return repr((self.name,self.age,self.grade,self.gender))
  
  
gfg = [
    person("Sakshi", 6,'b','f'), 
    person("Meera", 9,'c','m'), 
    person("Gita", 5,'d','f'), 
    person("Rupali", 4,'a','m'), 
    person("Meena", 3,'b','f')
] 
  

# a = sorted(gfg, key=lambda x:x.name,reverse=True) 
# print(a)

a = sorted(gfg, key = lambda person:person.name,reverse=True) 
print(a)

[('Sakshi', 6, 'b', 'f'), ('Rupali', 4, 'a', 'm'), ('Meera', 9, 'c', 'm'), ('Meena', 3, 'b', 'f'), ('Gita', 5, 'd', 'f')]

In [ ]:
n = [int(input("Enter any number : "))]

list(map(lambda n:n**2,n))

In [ ]:
n = [int(input("Enter any number : "))]

table = list(map(lambda n:n//2,n))
print(table)

In [ ]:
x=int(input("enter"))
list1 = []

for i in range(1,x+1):
    list1.append(i)
print(list1)

table = map(lambda y:y**2,list1)
print(list(table))

In [ ]:
data = [1,2,3]
squared = map(lambda x:x**3, data)
print(list(squared))

In [ ]:
#Modify string using map

l = ['sat','mat','cat']
test = list(map(list,l))
print(test)

In [ ]:
# Add two list using map and lambda

num1 = [1,2,3,4]
num2 = [ 2,4,6,8]
result = list(map(lambda x,y:x+y, num1,num2))
print(result)

In [ ]:
#map() with lambda expression.

# We can use lambda in place of addition() function to get same results.  

numbers = [1,2,3,4,5,6]
result = list(map(lambda x:x+x, numbers))
print(result)

In [ ]:
#Python program to demonstrate working of map : 

def addition(n):
    return n+n

numbers = [1,2,3,4,5,6]
result = list(map(addition,numbers))
print(result)