# String Datatype #

 - **A string is a sequence of characters.**
 - **Can be enclosed in single or double characters.**
 - **If single quotes are present in the string, then the string should be enclosed within double quotes viz.**
 - **Alternatively, single or double.**
 -  **Characters within a string can be escaped using a backslash character.**

In [110]:
#Enclosed within quotes

msg = "Hello Rupali"
print(msg)

#Enclosed with double quotes inside single quotes used.
statement0 = "Hello, there this is a dog his name is 'Shawn'."
print(statement0)

#Enclosed with single quotes inside double quotes.
statement1 = 'Hello, there this is a dog his name is "Shawn".'
print(statement1)

#Alternatively, single or double character can be escaped using 
# backslash character. 

statement = "Hello! \"I am Rupali\". How\'s your job?"
print(statement   # backslash before any quote

Hello Rupali
Hello, there this is a dog his name is 'Shawn'.
Hello, there this is a dog his name is "Shawn".
Hello! "I am Rupali". How's your job?

### Multiline String

In [118]:
# String enclosed in triple-single or double quotes. 

statement3 = """ Hello World! 
My name is Rupali.
Yes, I am fine. """

print(statement3)

 Hello World!
My name is Rupali.
Yes, I am fine.

## Idexing string

In [111]:
#Indexing

msg = "Hello Rupali"

print(msg[0])
print(msg[1])
print(msg[2])
print(msg[3])
print(msg[4])
print(msg[5])
print(msg[6])
print(msg[7])
print(msg[8])
print(msg[9])
print(msg[10])
print(msg[11])

H
e
l
l
o

R
u
p
a
l
i

In [112]:
#Negative Indexing.

msg = "Hello Rupali"
print(msg[-1])
print(msg[-2])
print(msg[-3])
print(msg[-4])
print(msg[-5])
print(msg[-6])
print(msg[-7])
print(msg[-8])
print(msg[-9])
print(msg[-10])
print(msg[-11])
print(msg[-12])

i
l
a
p
u
R

o
l
l
e
H

## Slicing of string 
 - **Accessing substring.**

In [2]:
new = "hello Dear"

In [3]:
new[:]

'hello Dear'

In [4]:
new[0:5]

'hello'

In [5]:
new[6:10]

'Dear'

### Slicing string with third parameter. 
- Also called step value. By default it is 1.
- Step value -1 specifies the number of elements to skip when slicing the string.

In [123]:
new = "hello Dear"
new[0:8:2]
new[2:9:2]
new[ : :3]

# When the third parameter is one it skips zero, when its two then skips one
# That is -1 of the third parameter

'hlDr'

In [138]:
new1 = 'abcdefghijklmnop'
print(new1)
new1[ : :3]
new1[8:1:-4]

abcdefghijklmnop

'ie'

## Concatenate string

In [139]:
msg_1 = "This is jupyter lab."  # '+' ---> Concatenate operator
msg_2 = " I like it!"
statement = msg_1 + msg_2 #Concatenating two strings
print(statement)

'a' + 'b' + 'c'

This is jupyter lab. I like it!

'abc'

In [90]:
# \n for a new line
print('This is jupyter lab.\nI like it!')

This is jupyter lab.
I like it!

In [91]:
# \t for the tab that is it gives 4 spaces.
print('This is jupyter lab.\tI like it!')

This is jupyter lab.	I like it!

## String Formatting:

### String Interpolation:
 - **Insertion of something of different nature into something else.**

### String Interpolation or string Formatting:
- **The process of inserting an object in the pre-defined string is called string interpolation.**

In [3]:
#Basic Technique  of formatting.

name = "Rupali"
"My name is %s ." %name  #%s acts as a placeholder (To specify the exact position)
# % name is an object provided  to insert.

'My name is Rupali .'

### Capitalize, Upper, Lower, Title, Count, Index, Find

In [4]:
name = 'Rupali Gurav'

In [5]:
a = name.capitalize() # Converts it in capitalized form.
print(a)

Rupali gurav

In [6]:
b = name.upper() # Converts it in uppercase letters.
print(b)

RUPALI GURAV

In [95]:
str_3 = name.lower() # Converts it in lowercase letters.
print(c)
x = name.casefold() #Converts string into lower case
print(x)

rupali gurav
rupali gurav

In [96]:
d = name.title() # Converts it in a title.
print(d)

Rupali Gurav

In [25]:
e = name.count('a') # Count takes at least one argument write that in quotes.
print(e)            # It is case-sensitive.

2

In [27]:
f = name.index('v') # Index gives the index number it takes at least one argument.
print(f)            # Space also counted.

11

In [40]:
g = name.find('u') #Finds the first occurrence of the specified value.
print(f)

h = name.find('i', 4, 8) #Search r between position 4 and 8 in string.
print(h)

i = name.find('z') # when value not found it returns -1.
print(i)

11
5
-1

In [97]:
j = name.center(30) # It will center align the string, using a specified character (space is default) as the fill character.
print(j)

k = name.center(30, "*") # The character to fill missing place write in quote.
print(k)

         Rupali Gurav
*********Rupali Gurav*********

In [99]:
l = name.encode()     # Coverts default Unicode UTF-8 into ASCII
print(l)       # b in output stands for byte string (String of bytes)

b'Rupali Gurav'

## String Formatting:

### String Interpolation:
 - **Insertion of something of different nature into something else.**

### String Interpolation or string Formatting:
- **The process of inserting an object in the pre-defined string is called string interpolation.**