# For loop
- **A for loop is used for iterating sequence (either list, tuple, dictionary, or set of string).ipynb_checkpoints**
- **It works like an iterator method in an object-oriented programming language.**
- **With for loop we can execute a set of statements once for each item a list, tuple, set etc.**
- **Increment of i is a must otherwise loop will continue forever.**

### range() Function 
- **The range() function returns a sequence of numbers, starting from 0 by default, increments by 1 (by default), and stops before a specified number.**
- **range(start, stop, step)**
- **start (Optional). An integer number specifying at which position to start. The default is 0**
- **stop (Required). An integer number specifying at which position to stop (not included)**
- **step (optional). An integer number specifies the incrementation. Default is 1.**

In [44]:
def table():
    num1 = int(input("Enter first table:"))
    num2 = int(input("Enter second table"))
    
    for i in range(1,11):
        print('%d X %d = %d'%(num1,i,num1*i),'   %d X %d = %d'%(num2,i,num2*i))
        
table()

Enter first table: 22
Enter second table 23

22 X 1 = 22    23 X 1 = 23
22 X 2 = 44    23 X 2 = 46
22 X 3 = 66    23 X 3 = 69
22 X 4 = 88    23 X 4 = 92
22 X 5 = 110    23 X 5 = 115
22 X 6 = 132    23 X 6 = 138
22 X 7 = 154    23 X 7 = 161
22 X 8 = 176    23 X 8 = 184
22 X 9 = 198    23 X 9 = 207
22 X 10 = 220    23 X 10 = 230

In [13]:
nlis = [10,20,30,40,50,60,70,80,90]
x=0
for i in nlis:
    x+=i
    print(x)

10
30
60
100
150
210
280
360
450

In [ ]:
nlis = [10,20,30,40,50,60,70,80,90]
x=0 
sqr = 0  
cube = 0# initialize loop with a global variable or used as a container
for i in nlis:
    sqr=i**2
    cube=i**3
    x+=i # x=x+i, starts with x=zero then the addition of i in iteration
    print("\nCube",cube,"\nsquare", sqr,"\ntotal sum",x)

In [11]:
rows = 6
for i in range(rows): 
    for j in range(i):
        print(i,end=' ')
    print('')

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [ ]:
# write a Python code to find those numbers which are divisible by 7 and multiples by 7
#and multiples of 5, between 1500 and 2700(both included)
a=[]
for i in (1500,2701):
    if (i%7==0) and (i%5==0):
        a.append(str(i))
        print(a)

In [ ]:
a=[]
for i in (1500,2701):
    if (i%7==0) and (i%5==0):
        a.append(str(i))
        print(','.join(a))

In [2]:
#1. Print the sum of the current number and the previous number
#Write a program to iterate the first 10 numbers and in each iteration, print the sum of the current and
#previous number.
#Expected result: 0,1,3,5,7,9,11,13,15,17


previous_num = 0
for i in range(10):
    sum = previous_num + i
    print(f'Current number {i} Previous Number {previous_num} sum of both is {sum}')
    previous_num = i

Current number 0 Previous Number 0 sum of both is 0
Current number 1 Previous Number 0 sum of both is 1
Current number 2 Previous Number 1 sum of both is 3
Current number 3 Previous Number 2 sum of both is 5
Current number 4 Previous Number 3 sum of both is 7
Current number 5 Previous Number 4 sum of both is 9
Current number 6 Previous Number 5 sum of both is 11
Current number 7 Previous Number 6 sum of both is 13
Current number 8 Previous Number 7 sum of both is 15
Current number 9 Previous Number 8 sum of both is 17

In [3]:
#Write a Python program to search a given number from a list


my_list = [11,12,13,14,15,16,17,18,19,20]
num = int(input("Enter the number you want to search:"))
for i in my_list:
    if i==num: 
        print("Number is in list")
        break
else:
        print("Number not in the list")

Enter the number you want to search: 3

Number not in the list

In [5]:
#Write a Python program to search a given number from a list

lst = eval(input("enter list"))
length=len(lst)
element=int(input("Enter number you want to search for"))
for i in range(0,length):
      if element==lst[i]:
            print("Element found at index",i)
            break
else:
      print("element not found in given list")

enter list 33,22,32,34,56,43
Enter number you want to search for 43

Element found at index 5

In [6]:
#3. Create a new list from a two list using the following condition. Given a two list of
#numbers, write a program to create a new list such that the new list should contain odd numbers
#from the first list and even numbers from the second list.

lst1 = [2,3,4,5,7,8,9]
lst2 = [3,4,6,7,9,0,6]
new_list =[]
new_list_1=[]
for i in lst1:
    if i%2!=0: 
        new_list.append(i)
for x in lst2:
        if x%2==0: 
            new_list_1.append(x)
print(new_list)
print(new_list_1)
print(new_list + new_list_1)

[3, 5, 7, 9]
[4, 6, 0, 6]
[3, 5, 7, 9, 4, 6, 0, 6]

In [7]:
#6. WAP to count the number of even or odd number from series [1,2,3,4,5,67,50,100,2002,168,597,256,300], say 1 is an Odd number.
num=[1,2,3,4,5,67,50,100,2002,168,597,256,300]
l1 =[]
l2 =[]
for i in num:
    if i%2==0:
        l1.append(i)
    else:
        l2.append(i)
        
        
print("even number:",len(l1))
print("odd number",len(l2))

even number: 8
odd number 5

In [8]:
#7.  Write a program to display all the prime number from 1 to 30.WAP to display all the prime numbers from 10-30.
for num in range(1,31):
   # all prime numbers are greater than 1
   if num > 1:
       for i in range(2, num):
           if (num % i) == 0:
               break
       else:
           print(num)

2
3
5
7
11
13
17
19
23
29

In [9]:
#8. Write a program to display the factorial of any number with loop?WAP to display the factorial of any number with loop
f=1
n = int(input("Enter any number"))
if n>=1:
    for i in range(1,n+1):
        f=f*i
print(f)

Enter any number 3

6

In [10]:
alpha,string=0,"Geeks1234"
for i in string:
    if (i.isalpha()):
        alpha+=1
print("Number of Digit is", len(string)-alpha)
print("Number of Alphabets is", alpha)

Number of Digit is 4
Number of Alphabets is 5

In [14]:
#Reverse iteration 
list = [10,20,30,40,50,60]
for i in reversed(list):
    print(i,end=',')

60,50,40,30,20,10,

In [22]:
#Reverse iteration
list = [10,20,30,40,50,60]
for i in (list[: :-1]):
    print(i,end=',')

60,50,40,30,20,10,

In [23]:
#Print even values

for i in range(2,11,2):
    print(i,end=',')

2,4,6,8,10,

In [27]:
#print odd values

for i in range(1,11,2):
    print(i,end=',')

1,3,5,7,9,

In [46]:
names = ['radha','ada','kiya','riya','hrita']

for i,j in enumerate(names):
    print(f"counter:{i},value:{j}")

counter:0,value:radha
counter:1,value:ada
counter:2,value:kiya
counter:3,value:riya
counter:4,value:hrita

In [55]:
for i in range(11,0,-1):
    print(i, end = ',')

11,10,9,8,7,6,5,4,3,2,1,

In [60]:
list = [1,2,3,4,5,1,4,5]
sum1 = sum(list)
print(sum1)

TypeError: 'int' object is not callable