- Set is one of the 4 build-in data types in Python used to store collections of data including: Tuples and Dictionary.- 
Sets are unordered, but you can remove items and add new items.- 
Set elements are unique, Duplicate elements are not allowed- .
A set itself be modified, But the elements contained in the set must be of an immutable typ- e.
Set are used to store multiple items in a single variab- le.
you can denote a set with a pair of curly brackets {}.

In [1]:
x = ["Hello",20]
x[1]="Rupali"
x

['Hello', 'Rupali']

In [4]:
#To remove item from set.
#If the item to remove does not exist, remove() will raise an error.

x.remove('Rupali')
print(x)

['Hello']

In [115]:
#To discard items from the set
#If the item to discard does not exist, discard() does not give an error.

set1 = {"uday",10,20}
print(set1)


set1.discard("uday")
print(set1)

{'uday', 10, 20}
{10, 20}

In [19]:
set1.remove(20)
set1

{10}

In [22]:
set1.discard(10)
set1

set()

In [23]:
#Membership Operator
set2 = set([20,30,40,50,60])
set2

{20, 30, 40, 50, 60}

In [25]:
100 in set2

False

In [26]:
10 in set2

False

In [27]:
10 not in set2

True

In [49]:
#Logic operation on set 
#union 
#Intersection
#Difference 
#Symetric difference 

set4 = set(["Hello Python",3.14,1.618,"Hello World"])
set5 = {3.14,1.618,2024,True}

set4, set5

({1.618, 3.14, 'Hello Python', 'Hello World'}, {True, 1.618, 3.14, 2024})

In [50]:
#Union 

print(set4)
print(set5)

set4.union(set5)

{'Hello Python', 1.618, 3.14, 'Hello World'}
{2024, 1.618, 3.14, True}

{1.618, 2024, 3.14, 'Hello Python', 'Hello World', True}

In [51]:
#Intersection 
print(set4)
print(set5)

set4.intersection(set5)
x = set4 & set5
x

{'Hello Python', 1.618, 3.14, 'Hello World'}
{2024, 1.618, 3.14, True}

{1.618, 3.14}

In [56]:
#Difference 
print(set4)
print(set5)

print(set4.difference(set5))
print(set5.difference(set4))
print(set4 - set5)
print(set5 - set4)

{'Hello Python', 1.618, 3.14, 'Hello World'}
{2024, 1.618, 3.14, True}
{'Hello Python', 'Hello World'}
{2024, True}
{'Hello Python', 'Hello World'}
{2024, True}

In [57]:
#Symmetric Difference 
print(set4)
print(set5)

set4.symmetric_difference(set5)

{'Hello Python', 1.618, 3.14, 'Hello World'}
{2024, 1.618, 3.14, True}

{2024, 'Hello Python', 'Hello World', True}

In [66]:
#Agreegate Function

#min , max , sum , count , length , avg 

list1 = [10, 10, 10, 20, 20, 20, 20, 30, 40, 40, 50]
set6 = {10, 10, 10, 20, 20, 20, 20, 30, 40, 40, 50}

print(min(list1))
print(min(set6))

print(sum(list1))
print(sum(set6))

print(max(list1))
print(max(set6))

print(sum(list1) / len(list1))
print(sum(set6) / len(set6))

print(len(list1))
print(len(set6))

print(list1.count(10))
print(set6.count(10))

10
10
270
150
50
50
24.545454545454547
30.0
11
5
3

AttributeError: 'set' object has no attribute 'count'

In [70]:
#No mutable sequenec 


set = {20,30,"hello",(10,39)} #same datatype
print(set)

set = {20,30,"hello",[10,39]}  #datatypes different
set

{'hello', (10, 39), 20, 30}

TypeError: unhashable type: 'list'

In [87]:
#Copy the setabs 

#Deep copy() and shallow copy

#Deep Copy
seta = {10,20,30}
print(seta)

setb = seta
print(setb)

seta.add('Babli')

print(seta)
print(setb)

print(id(seta))
print(id(setb))  #Same memory address is allocated

{10, 20, 30}
{10, 20, 30}
{10, 20, 30, 'Babli'}
{10, 20, 30, 'Babli'}
1821564033664
1821564033664

In [88]:
# Shallow copy 

setc = 0
setc = seta.copy()
print(setc)
print(seta)

setc.add('Rupali')
print(setc)

print(seta)

print(id(setc))   #Different memory address allocated
print(id(seta))

{10, 20, 30, 'Babli'}
{10, 20, 30, 'Babli'}
{10, 'Rupali', 20, 30, 'Babli'}
{10, 20, 30, 'Babli'}
1821563499936
1821564033664

In [2]:
# Return a new set of identical items from two sets.
set1={10,20,30,40,50,60}
set2={30,40,50,60,70,80}

set1.intersection(set2)

{30, 40, 50, 60}

In [3]:
# Get only unique items from two sets
set1={10,20,30,40,50,60}
set2={30,40,50,60,70,80}
set1.union(set2)

{10, 20, 30, 40, 50, 60, 70, 80}

In [8]:
# update the fist set with items that don't exist in the second set2?

set1={10,20,30,40}
set2={30,20,10,60,70,80}

print(set2-set1)

{80, 60, 70}